<apex:page standardController="Billing_Account__c" extensions="BillingAccountDiscountController">
 <apex:form >
        <apex:outputLabel value="Discount Type: " for="typePicklist" />
        <apex:selectList id="typePicklist" value="{!discountTypes}" multiselect="false" size="1">
            <apex:selectOptions value="{!items}"/>
        </apex:selectList><p/>
        
        <apex:outputLabel value="Discount Amount: " for="amountTextBox" />
        <apex:inputText id="amountTextBox">
        </apex:inputText><p/>
        
        <apex:commandButton value="Submit" rerender="out" status="status"/>
        <apex:commandButton value="Save" rerender="out" status="status"/> 
        
    </apex:form>
</apex:page>