<apex:page standardController="Daily_Bill_Item__c" extensions="CreateAdditionalChargeController" title="AdditionalCharge">
    <apex:form >
        <apex:pageMessages />
        <apex:pageBlock > 
        <apex:pageBlockSection >
        <apex:inputField value="{!Daily_Bill_Item__c.Product_Type__c}" label="Product Type" required="true"/>
        <apex:inputField value="{!Daily_Bill_Item__c.Art__c}" label="Art" required="false"/>
        <apex:inputField value="{!Daily_Bill_Item__c.Billing_Account__c}" label="Billing Account" required="true"/>
        <apex:inputField value="{!Daily_Bill_Item__c.Beschreibung__c}" label="Beschreibung" required="false"/>
        <apex:inputField value="{!Daily_Bill_Item__c.Betrag__c}" label="Betrag" required="true"/>
        <apex:inputField value="{!Daily_Bill_Item__c.Menge__c}" label="Menge" required="true"/>
            <apex:inputField value="{!Daily_Bill_Item__c.Anweisung__c}" label="Anweisung" required="false"/>
             <apex:pageBlockSectionItem >
                   <apex:outputLabel value="Tax code"/>
                   <apex:selectList value="{!Daily_Bill_Item__c.Tax_Code__c}" size="1">
                   <apex:selectOption itemValue="19%" itemLabel="19%"/>
                    <apex:selectOption itemValue="0%" itemLabel="0%"/>
                    </apex:selectList> 
            </apex:pageBlockSectionItem>
        <apex:inputField value="{!Daily_Bill_Item__c.Payment_Type__c}" label="{!$ObjectType.Daily_Bill_Item__c.fields.Payment_Type__c.Label}" required="true" />
        <apex:inputField value="{!Daily_Bill_Item__c.Number_of_months__c}" label="{!$ObjectType.Daily_Bill_Item__c.fields.Number_of_months__c.Label}" />
        </apex:pageBlockSection>
            <apex:pageBlockButtons >
                <apex:commandButton id="okButton" value="Create" action="{!createDBFItem}" />
                <apex:commandButton id="cancelButton" value="Cancel" action="{!Cancel}"/> 
            </apex:pageBlockButtons>
            <h1><apex:outputText value="{!errorMessage}" /></h1>
        </apex:pageBlock>
    </apex:form>
</apex:page>