<apex:page id="page" standardController="Order_Request__c" extensions="CreateOrderController"  title="Creating order">
<script src = "/soap/ajax/28.0/connection.js"></script>
<script src = "/soap/ajax/28.0/apex.js"></script>

<script>
	function checkTrial(){
		if(document.getElementById("page:form:pageblock:hiddenTrial").value == "true"){
			if (confirm("This account has trial sims. Do you want to commercialize?")){
				commercialize();
			}			
		}
		else
		{
			create();	
		}		
	}
	function provisionSM2M(){
		if(document.getElementById("page:form:pageblock:hiddenacccountsm2mID").value == null)
		{
			alert('Account needs to be provisioned in SM2M before you can provision the Billing Account!');
		}
		else
		{
			/*
			if(document.getElementById("page:form:pageblock:hiddenacccountsm2mID").value == null)
			{
				alert( sforce.apex.execute('csam_t1.ObjectGraphCalloutHandler', 'createAndSend', 
				{handlerName: 'Create Billing Account', id: '\''+document.getElementById("page:form:pageblock:hiddenbillingAccountId").value+'\''}
				) );
			}
			else
			{
				alert( sforce.apex.execute('csam_t1.ObjectGraphCalloutHandler', 'createAndSend', 
				{handlerName: 'Update Billing Account', id: '\''+document.getElementById("page:form:pageblock:hiddenbillingAccountId").value+'\''}
				) );
			}
			*/
			null;
		}
	}	
	 window.onload = checkTrial;
</script>

    <apex:form id="form">
        <apex:pageBlock id="pageblock">
            <apex:pageBlockButtons >
                <apex:commandButton id="okButton" value="Back" action="{!gotoOrderRequest}" />
            </apex:pageBlockButtons>
			<apex:inputHidden id="hiddenTrial" value="{!hasTrial}"/>
			<apex:inputHidden id="hiddenSM2MID" value="{!sm2mID}"/>
			<apex:inputHidden id="hiddenacccountsm2mID" value="{!accountsm2mID}"/>
			<apex:inputHidden id="hiddenbillingAccountId" value="{!billingAccountId}"/>
			<apex:actionFunction name="create" action="{!create}" rerender="pageblock"/>
			<apex:actionFunction name="commercialize" action="{!commercialize}" onComplete="provisionSM2M();create();" />
            <h1><apex:outputText value="{!errorMessage}" /></h1>            
        </apex:pageBlock>
    </apex:form>
</apex:page>