<apex:page controller="CustomerBillController" tabStyle="Account" renderAs="PDF" title="Customer Bill" cache="true" contentType="application/x-pdf#Here-is-your-filename.pdf"
 showHeader="false" sidebar="false" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false" action="{!init}">
<html>
<head>
<style type="text/css" media="print">
@page {
    size: letter;
   	margin: 25mm;
    @bottom-center {
    	font-family: Arial;
        font-size: 10px;
        color: #aaa;
        content: "Telefónica Germany GmbH und Co. OHG Georg Brauchle Ring 23 25 80992 München Deutschland";
    }
   @bottom-right-corner{
    /*Needs content or it is not rendered, white font*/
    content: counter(page); 
    color: #FFF;
    background: url({!$Resource.Telefonica_down}) left center no-repeat;
    
    }
    @top-right {
 	background: url({!$Resource.Telefonica_up}) right center no-repeat ;
 	}
    @bottom-left-corner{
    content: "Seite: " counter(page) "/" counter(pages); 
    color: #000;
    }
 
}
    
@media print {

    table.total {
       page-break-inside: avoid;
    }
 }      
    
  table {
            -fs-table-paginate: paginate;
        }    
.page-break {
    display:block;
    /*page-break-after:always;*/
    page-break-after:auto;
    
}
body {
    font-family: Arial;
     
}
//TODO: fix header image repeat
.header {
    position: running(header);
    height: 100px;
    width: 100%;
    display: block;
}
.header2 {
    
    height: 100px;
    width: 100%;
    display: block;
}
.first-page {
    text-align: right;
    
}
.first-page h3 {
    font-size: 12px; 
    color: #000000;
    font-weight: normal;
    text-align: left;
    margin-top: 20px;
}
.first-page p {
    font-weight: normal;
    font-size: 14px;
    text-align: left;
}

.first-page ul li {
    font-weight: normal;
    font-size: 14px;
    padding-left: 10px;
}

.first-page h2 {
    font-size: 12px;
    color: #000000;
    font-weight: normal;

}

.dataCellLeft {
    text-align: left;
}

.dataCellMiddle {
    text-align: center;
}

.dataCellRight {
    text-align: right;
}
.content-page{
    margin-top: 20px;
    }
.content-page h3 {
    font-size: 24px;
    color: #21327e;
    font-weight: normal;
}
.content-page h4 {
    font-size: 18px;
    color: #019fe3;
    font-weight: normal;
    line-height: 36px;
}
.content-page h5 {
    font-weight: normal;
    text-indent: 20px;
}
.content-page p {
    font-weight: normal;
    font-size: 14px;
}
.content-page ul li {
    font-weight: normal;
    font-size: 14px;
    padding-left: 10px;
}
.bold {
    font-weight: bold !important;
}
.superscript {
    display: inline-block;
    vertical-align: super;
    font-size: 75%;
}
.red {
    color: #f00;
}
.blue {
    color: #019fe3;
}
.center {
    text-align: center;
}

   
table.list2 {
    width: 100%;
    border: 1px solid black;
    
}
    
    
table.list {
    width: 100%;
    border-spacing:0px;
    border-collapse: collapse;
	  border: 1px solid black;
}

    
table.list tr th,
table.list tr td {
    font-size: 12px;
    padding: 2px;

    
}
table.list2 tr th {
    font-size: 10px;
    
    
}
table.list2 tr td {
    font-size: 10px;
    padding: 2px;
}
tr.border-top td{
    border-top: 1px solid black;
    }

table.total tr td {
    font-size: 12px;
    padding: 2px;
}
    
  
table.list tr th {
    font-weight: bold;
    width: 25%;
    vertical-align: top;
}
table.list tr.headerRow th {
    background-color: #019fe3;
    color: #fff;
}
table.list tr.boldRow td {
    font-weight: bold;
}
    
    
    
</style>
</head>
<body >

<div class="first-page page-break" >
<div class="header" >
    <!--<img src="{!$Resource.Telefonica_up}" width="30%" style="float: right" height="auto" />  -->
</div>
    <h2>Telefónica Germany GmbH und Co. OHG<br/></h2>
    <div style="width:34%; position: absolute; right: 0px; margin-top: -10px; font-family: Arial; font-size: 12px; text-align: left;">
        <b>Fragen bitte an:</b><br/>
        Email: service@m2m.telefonica.de<br/>
        T: +49 (0)40 5190066 00
    </div>
    <br/>
    <br/>
    <!--<h2 style="text-align: left;"> Telefónica Germany GmbH und Co. OHG Georg Brauchle Ring 23 25 80992 München<br/></h2>-->
    <h3>{!pdfBill.AccountName}<br/>
        {!pdfBill.AccountStreet}<br/>
        {!pdfBill.AccountPostalCode} {!pdfBill.AccountCity}</h3>
        
    <!--<p>Umsatz:</p>-->
    
    <table class="list">
        <tr>
            <th class="headerRow"> Kunden-Nummer: </th>
            <td class="dataCellLeft"> {!pdfBill.BillKundenNummer} </td>
        </tr>
        <tr>
            <th class="headerRow"> Abrechnungszeitraum: </th>
            <td class="dataCellLeft"> {!pdfBill.BillKundenInformationen} </td>
        </tr>
        <!--
    </table>
    <br/>
    <table class="list">
        -->
        <tr>
            <th class="headerRow"> Rechnungsreferenz: </th>
            <td class="dataCellLeft"> {!pdfBill.RechnungNummer} </td>
        </tr>
    </table>
    <br/>
    <table class="list2">
        <thead>
            <tr>
                <!--<td class="dataCellMiddle" width="5%"> Pos. </td>
                <td class="dataCellMiddle" width="10%"> Art. Nummer </td>-->
                <th class="dataCellLeft" width="55%"> Beschreibung </th>
                <th class="dataCellMiddle" width="8%"> Anzahl </th>
                <th class="dataCellMiddle" width="10%"> MwSt </th>
                <th class="dataCellMiddle" width="12%"> Einzelpreis </th>
                <th class="dataCellRight" width="15%"> Gesamtpreis </th>
            </tr>
        </thead>
        <tbody>
            <apex:repeat value="{!pdfBill.DailyBillItems}" var="dailyBillItem" id="itemsRepeater">
                <tr>
                    <!--<td class="dataCellLeft" width="5%"> 1 </td>
                    <td class="dataCellMiddle" width="10%"> {!dailyBillItem.Art__c} </td>-->
                    <td class="dataCellLeft" width="57%"> {!dailyBillItem.Beschreibung} </td>
                    <td class="dataCellMiddle" width="8%"> {!dailyBillItem.Menge} </td>
                    <td class="dataCellMiddle" width="10%"> {!dailyBillItem.Steuersatz}% </td>                
                    <td class="dataCellRight" width="12%">                    
                        <apex:outputText value="{0, number, ###,##0.00}">
                            <apex:param value="{!dailyBillItem.Einzel_Nettobetrag}" />
                        </apex:outputText>
                    </td>
                    <td class="dataCellRight" width="13%">
                        <apex:outputText value="{0, number, ###,##0.00}">
                            <apex:param value="{!dailyBillItem.Einzel_Nettobetrag}" />
                        </apex:outputText> EUR
                    </td>
                </tr>
            </apex:repeat>
        </tbody>
     </table>
  
        <!--


    <table class="list2 total">
-->
        
        
  <table class="list2 total">
     
        
        <tr >
            <!--<td class="dataCellMiddle" width="15%"> </td>-->
            <td class="dataCellLeft" width="57%"> Nettobetrag </td>
            <td class="dataCellMiddle" width="6%"> </td> 
            <td class="dataCellMiddle" width="6%"> </td> 
            <td class="dataCellMiddle" width="12%"> </td> 
            <td class="dataCellRight"  width="19%"> 
                <apex:outputText value="{0, number, ###,##0.00}">
                    <apex:param value="{!pdfBill.PrebillNettoBetrag}" />
                </apex:outputText> EUR
            </td>
        </tr>
        <tr>
            <!--<td class="dataCellMiddle" width="15%"> </td>-->
            <td class="dataCellLeft"> 
                zzgl. Mwst. 19% von  
                <apex:outputText value="{0, number, ###,##0.00}">
                    <apex:param value="{!pdfBill.PrebillNettoBetrag}" />
                </apex:outputText> EUR
            </td>
           <td class="dataCellMiddle" > </td> 
            <td class="dataCellMiddle" > </td> 
            <td class="dataCellMiddle" > </td> 
            <td class="dataCellRight"> 
                <apex:outputText value="{0, number, ###,##0.00}">
                    <apex:param value="{!pdfBill.PrebillTaxBetrag}" />
                </apex:outputText> EUR
            </td>
        </tr>
        <tr>
            <!--<td class="dataCellMiddle" width="15%"> </td>-->
            <td class="dataCellLeft"> Gesamtbetrag </td>
             <td class="dataCellMiddle" > </td>
             <td class="dataCellMiddle" > </td> 
            <td class="dataCellMiddle" > </td> 
            <td class="dataCellRight"  > 
                <apex:outputText value="{0, number, ###,##0.00}">
                    <apex:param value="{!pdfBill.PrebillBruttoBetrag}" />
                </apex:outputText> EUR
            </td>
        </tr>
    </table>
</div>
<!--
<div class="content-page page-break">

</div>

<div class="content-page page-break">

</div>

<div class="content-page">

</div>
   -->
</body>
</html>

</apex:page>