<apex:page controller="TerminationConsoleController" title="File Upload" tabStyle="Case" showHeader="false" sidebar="false">
    <apex:form >
        <apex:actionstatus id="actStatusId">
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading" style="background-color: #DCD6D6;
                       height: 100%;opacity:0.65;width:100%;"> 
                    <div class="waitingHolder" style="position: absolute;
                                                        top: 80%;
                                                        left: 50%;
                                                        margin-top: -50px;
                                                        margin-left: -50px;">
                        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                        <span class="waitingDescription">Please Wait...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionstatus>
        <apex:pageMessages id="pgmsgs"/>
        <apex:pageBlock title="File Upload">
            <apex:outputLink onclick="CloseWindow()" style="float: right;">Close Window</apex:outputLink><br/>
            <apex:pageBlockSection title="Select File" columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Select file" for="file"/>
                    <apex:inputFile value="{!fileBody}" filename="{!fileName}" id="file"/>
                </apex:pageBlockSectionItem>  
                <apex:pageBlockSectionItem >
                    <apex:outputPanel ></apex:outputPanel>
                    <apex:commandButton value="Upload" action="{!uploadSims}" status="actStatusId"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
        <apex:actionRegion >
            <apex:pageBlockSection Title="Filter By ICCID" rendered="{!IF(fileData.size > 0,true,false)}">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Available SIMs will be filtered after entering atleast 4 digits</apex:outputLabel>  
                    <apex:inputText value="{!searchKey}">
                        <apex:actionSupport event="onkeyup" action="{!performSearch}" rerender="pbSecId" status="actStatusId"  />                      
                        <apex:actionSupport event="onblur" action="{!performSearch}" rerender="pbSecId" status="actStatusId"  />                      
                    </apex:inputText>    
                </apex:pageBlockSectionItem>  
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" id="pbSecId" title="List of available SIM Cards" rendered="{!IF(fileData.size > 0,true,false)}">
                <apex:pageMessage summary="SIM added to the temination list" severity="Info" strength="3" rendered="{!showSIMAddedMsg}"/>
                <apex:pageMessage summary="All SIMs added to the temination list" severity="Info" strength="3" rendered="{!showAllSIMsAddedMsg}"/>
                <apex:commandLink action="{!addAllToSimList}" onComplete="closeWindow()">Add All</apex:commandLink>
        		<apex:pageBlockTable value="{!fileData}" var="stock">
        		    <apex:column headerValue="Action">
                        <apex:commandLink value="Add" action="{!addSelectedSIM}" rerender="pbSecId" status="actStatusId">
                            <apex:param name="stockId" value="{!stock.Id}" assignTo="{!stockId}"/>
                        </apex:commandLink>
                    </apex:column>
                    <apex:column headerValue="{!$ObjectType.Stock__c.fields.ICCID__c.label}" value="{!stock.ICCID__c}"/>
                    <apex:column headerValue="{!$ObjectType.Stock__c.fields.MSISDN__c.label}" value="{!stock.MSISDN__c}"/>
        		</apex:pageBlockTable>
                
                <apex:panelGrid columns="5">
                    <apex:commandButton action="{!pfirst}" value="First" disabled="{!IF(PPageNumber = 1,true,false)}" rerender="pbSecId"/>
                    <apex:commandButton action="{!pprevious}" value="Previous" disabled="{!!hasPPrevious}" rerender="pbSecId"/>
                    <apex:outputLabel value="{!PPageNumber} of {!PTotalPages}"/>
                    <apex:commandButton action="{!pnext}" value="Next" disabled="{!NOT(hasPNext)}" rerender="pbSecId"/>
                    <apex:commandButton action="{!plast}" value="Last" disabled="{!IF(PPageNumber = PTotalPages,true,false)}" rerender="pbSecId"/>
                </apex:panelGrid>
        	</apex:pageBlockSection>
    	</apex:actionRegion>
    	</apex:pageBlock>
    </apex:form>
    <script>
        function CloseWindow(){
            var winMain = window.opener;
            if (null == winMain){
                winMain = window.parent.opener;
            }
            winMain.closeFileUploadPopup();
        }
    </script>
</apex:page>