<apex:page renderAs="pdf" applyBodyTag="false" standardController="Account">

        <head>

                <style type="text/css" media="print">

                       @page {

                                 @top-center {

                                       content: element(header);

                               }

                               @bottom-left {

                                     content: element(footer);

                               }

                            }

                                     div.header {

                                      padding: 10px;

                                      position: running(header);

                           }
                       div.footer {

                                display: block;
                                left:300px;
                               position: running(footer);

                      }

                                     .pagenumber:before {

                                        content: counter(page);

                       }

                                   .pagecount:before {

                             content: counter(pages);

                        }

                    </style>

              </head>



           <div class="header">

             
                  <div>Page <span class="pagenumber"/> of <span class="pagecount"/></div>
           </div>

           <div class="footer" style="border:1px solid green;">

               <div>Account name is: {!Account.name} ----------- and the date is {!TODAY()}</div>

          </div>

          <div class="content">

               <p>Actual page body information.</p>

          </div>

</apex:page>