<apex:page controller="Pricing_Report" id="pg" tabStyle="Pricing_Report__tab" sidebar="false">
    
    <apex:sectionHeader Title="Pricing Report"/>
    <apex:form id="frm">
        <apex:pageBlock >
            
            <apex:pageMessages id="pmsg"/>
            
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Run" action="{!runReport}" rerender="frm" status="actStatusId"> 
                    <apex:param name="queryRecords" value="true" assignTo="{!queryRecords}" />
                </apex:commandButton> 
                <apex:commandButton value="Email Me" action="{!export}" reRender="pmsg" status="actStatusId"/> 
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Report Options" collapsible="false">
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >
                        From 
                    </apex:outputLabel>
                    <apex:outputPanel >
                        <apex:inputField value="{!startDate.Synchronization_Date__c}" />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >
                        To 
                    </apex:outputLabel>
                    <apex:outputPanel >
                        <apex:inputField value="{!ToDate.Synchronization_Date__c}"  />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >
                        Company Name
                    </apex:outputLabel>
                    <apex:outputPanel >
                        <apex:inputfield value="{!opp.accountId}"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >
                        Records Per page
                    </apex:outputLabel>
                    <apex:outputPanel >
                        <apex:selectList size="1" value="{!recordsPerPage}">
                            <apex:selectOptions value="{!recordsSize}"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
            </apex:pageBlockSection>
            
        </apex:pageBlock>
        
        <apex:pageblock id="recordsTable">
            <apex:actionstatus id="actStatusId">
                <apex:facet name="start">
                    <div class="waitingSearchDiv" id="el_loading" style="background-color: #DCD6D6;
                           height: 100%;opacity:0.65;width:100%;"> 
                        <div class="waitingHolder" style="position: absolute;
                                                            top: 50%;
                                                            left: 25%;
                                                            margin-top: -50px;
                                                            margin-left: -50px;">
                            <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                            <span class="waitingDescription">Please Wait...</span>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionstatus>
            <apex:pageBlockButtons >
                <apex:commandButton value="|<< First" action="{!first}" reRender="recordsTable" rendered="{!hasPrevious}" status="actStatusId"/>
                <apex:commandButton value="|<< First" disabled="true" reRender="recordsTable" rendered="{!Not(hasPrevious)}" />
                
                <apex:commandButton value="<< Previous" action="{!previous}" reRender="recordsTable" rendered="{!hasPrevious}" status="actStatusId"/>
                <apex:commandButton value="<< Previous" disabled="true" reRender="recordsTable" rendered="{!Not(hasPrevious)}"/>
                
                <apex:commandButton value="Next >>" action="{!next}" reRender="recordsTable" rendered="{!hasnext}" status="actStatusId"/>
                <apex:commandButton value="Next >>" disabled="true" reRender="recordsTable" rendered="{!Not(hasnext)}"/>
                
                <apex:commandButton value="Last >>|" action="{!last}" reRender="recordsTable" rendered="{!hasNext}" status="actStatusId"/>
                <apex:commandButton value="Last >>|" disabled="true" reRender="recordsTable" rendered="{!not(hasNext)}"/>
                Page {!pageNumber} of {!totalNoOfpages}
                
            
            </apex:pageBlockButtons>
            
            <!--<apex:outputlabel style="font-weight:bold;color:red">
                Note: To view the comments please palce mouse pointer over the link <br/><br/>
            </apex:outputlabel>-->
            <apex:pageBlockTable value="{!recordsLst}" var="record" >
                
                <apex:column headerValue="Product Bundle Name" >
                    <apex:commandLink value="{!record.bundle.Name}" action="/{!record.bundle.id}" target="blank"/>
                </apex:column>
                
                <apex:column headerValue="Pricing Reference Number" >
                    <apex:commandLink value="{!record.bundle.Pricing_Reference_Number__c}" action="/{!record.bundle.id}" target="blank"/>
                </apex:column>
                
                <apex:column headerValue="Opportunity" >
                    <apex:commandLink value="{!record.bundle.cscfga__Opportunity__r.name}" action="/{!record.bundle.cscfga__Opportunity__c}" target="blank"/>
                </apex:column>
                
                <apex:column headerValue="Company name" >
                    <apex:commandLink value="{!record.bundle.cscfga__Opportunity__r.account.name}" action="/{!record.bundle.cscfga__Opportunity__r.accountId}" target="blank"/>
                </apex:column>
                
                <apex:column headerValue="Number of  SIM/units" value="{!record.bundle.Total_Quantity_SIM__c}"/>
                
                <apex:column value="{!record.bundle.cscfga__Opportunity__r.TCV__c}">
                    <apex:facet name="header" ><div style="width:60px">TCV</div></apex:facet>
                </apex:column>
                
                <apex:column headerValue="Status" value="{!record.pInstance.Status}"/>
                
                <apex:column headerValue="Approve/Rejection Date" value="{!record.pInstanceCompletedDate}"/>
                <apex:column value="{!record.pInstance.CreatedDate}">
                    <apex:facet name="header" ><div style="width:100px">Submitted Date</div></apex:facet>
                </apex:column>
                
                <apex:column headerValue="Creation of PB Date">
                    <apex:outputField value="{!record.bundle.createdDate}"/>
                </apex:column>
                
                <apex:column headerValue="FC number" >
                    <apex:commandLink value="{!record.frameContract.name}" action="/{!record.frameContract.id}" target="blank"/>
                </apex:column>
                  
                <apex:column headerValue="Stage" value="{!record.bundle.cscfga__Opportunity__r.stageName}"/>
                
                <apex:column headerValue="New Pricing/Re Pricing">
                    <apex:outputtext value="{!if(record.bundle.Re_Price__c,'Re Price','New Price')}"/>
                </apex:column>   
                
                <!--<apex:column headerValue="Sales Comments" style="white-space: nowrap;">
                    <apex:variable var="i" value="{!0}"/>
                    <apex:dataList value="{!record.salesComments}" var="comment">
                         <apex:variable var="i" value="{!i+1}" />
                        <apex:commandLink value="Comment {!i}" title="{!comment.Comment__c}" onclick="return false;"/>
                    </apex:dataList>
                </apex:column>
                
                <apex:column headerValue="Commercial Approval Comments" style="white-space: nowrap;">
                    <apex:variable var="i" value="{!0}"/>
                    <apex:dataList value="{!record.approverComments}" var="comment">
                        <apex:variable var="i" value="{!i+1}"/>
                        <apex:commandLink value="Comment {!i}" title="{!comment}" onclick="return false;"/>
                    </apex:dataList>
                </apex:column>
                -->
                
                <apex:column headerValue="Sales Comments" >
                    <apex:dataList value="{!record.salesComments}" var="comment" style="width: 250px;">
                        {!comment.Comment__c} <br/>
                    </apex:dataList>
                </apex:column>
                
                <apex:column headerValue="Commercial Approval Comments" >
                    <apex:dataList value="{!record.approverComments}" var="comment" style="width: 250px;">
                        {!comment} <br/>
                    </apex:dataList>
                </apex:column>
            
            </apex:pageBlockTable>
        </apex:pageblock>
        
    </apex:form>
    
    
</apex:page>