<apex:page controller="SelectThirdUploadFileAPNsController" title="Select APNs for Third Upload File">
    
    <apex:form >
        <apex:outputPanel id="topErrorMessages">
            <apex:pageMessages />
        </apex:outputPanel>
                
        <apex:pageBlock title="Choose an existing APN...">
                    
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Confirm" id="confirmBtn" action="{!confirm}" rerender="topErrorMessages,apnChoices" />
                <apex:commandButton value="Cancel" id="cancelBtn" action="{!cancel}" />
            </apex:pageBlockButtons>
            
            <apex:pageBlockTable id="apnChoices" value="{!apnSelection.choiceList}" var="row">
                <apex:column headerValue="Select">
                    <apex:inputCheckbox value="{!row.IsChecked}" />
                </apex:column>
                <apex:column value="{!row.apn.Name}"/>
                <apex:column headerValue="Is Default">
                    <apex:outputField value="{!row.apn.Is_Default__c}"/>
                </apex:column>
                <apex:column value="{!row.apn.Domain__c}"/>
                <apex:column value="{!row.apn.Filter_Type__c}"/>
                <apex:column value="{!row.apn.IP_Mask__c}"/>
                <apex:column value="{!row.apn.Port_or_Port_Range__c}"/>
                <apex:column value="{!row.apn.Protocol_Number__c}"/>
            </apex:pageBlockTable>
        </apex:pageBlock>
         
        <apex:pageBlock title="...or assign a new APN">
        
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Create and assign" id="createAndAssignBtn" action="{!createAndAssign}" rerender="topErrorMessages" />
                <apex:commandButton value="Cancel" action="{!cancel}" />
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="2">
                <apex:inputField value="{!apn.Name}" />
                <apex:inputField value="{!apn.Account__c}" />
                <apex:inputField value="{!apn.Domain__c}"/>
                <apex:inputField value="{!apn.Filter_Type__c}"/>              
                <apex:inputField value="{!apn.IP_Mask__c}"/>
                <apex:inputField value="{!apn.Port_or_Port_Range__c}"/>
                <apex:inputField value="{!apn.Protocol_Number__c}"/>            
                <apex:inputField value="{!apn.Is_Default__c}"/>
                <apex:inputField value="{!apn.Static__c}"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>