<apex:page standardController="Stock__c" extensions="MonitoringBOController"  
     contentType="application/octet-stream#SIMStatus_{!exportFileDate}.csv"  
        showHeader="false" sidebar="false" standardStylesheets="false"> 
Account;Date;Status
 <apex:repeat value="{!simListLastStatus}" var="sim">
     {!sim.accountName};{!sim.jobDate};{!sim.status}
 </apex:repeat>    
<!--
    <apex:dataTable id="simTable" value="{!simListLastStatus}" var="sim">    
                <apex:column >
                    <apex:facet name="header">Account</apex:facet>              
                    <apex:outputLink value="/{!sim.accountId}">{!sim.accountName}</apex:outputLink>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Date</apex:facet>
                    <apex:outputText value="{!sim.jobDate}"></apex:outputText>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Status</apex:facet>
                    <apex:outputText value="{!sim.status}"></apex:outputText>
                </apex:column>
            </apex:dataTable> 
-->
</apex:page>