<!--<apex:page standardController="Account" extensions="TerminatedSIMsOnAccountController" contentType="application/vnd.ms-excel#SimsTobeTerminated.xls" cache="true">
    <apex:pageBlock title="Sims To be Terminated for : {!acc.Name}">
        <apex:pageBlockSection columns="1">
            <apex:pageBlockTable value="{!AllTerminatedSIMs}" var="stock" rendered="{!IF(AllSims.size > 0,true,false)}">
                <apex:column headerValue="{!$ObjectType.Stock__c.fields.ICCID__c.label}" value="{!stock.ICCID__c}"/>
                <apex:column headerValue="{!$ObjectType.Stock__c.fields.MSISDN__c.label}" value="{!stock.MSISDN__c}"/>
                <apex:column headerValue="{!$ObjectType.Stock__c.fields.IMSI__c.label}" value="{!stock.IMSI__c}"/>
                <apex:column headerValue="{!$ObjectType.Stock__c.fields.Activation_Date__c.label}" value="{!stock.Activation_Date__c}"/>
                <apex:column headerValue="{!$ObjectType.Stock__c.fields.Runtime__c.label}" value="{!stock.Runtime__c}"/>
                <apex:column headerValue="Potential End Date" value="{!stock.End_date__c}"/>
            </apex:pageBlockTable>
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:page>-->

<apex:Page standardController="Account" extensions="TerminatedSIMsOnAccountController" contentType="application/vnd.ms-excel#SIMsTobeTerminated_{!acc.Name}.csv" cache="true">{!csvFileData}</apex:Page>