<apex:page controller="TerminationConsoleController" title="Termination Console" tabStyle="Case" id="pageId">
    
    <style>
        .position-fixed-bottom {
            position:fixed !important;
            bottom:0;
            background-color:#543BDE;
        }
    </style>
    <script>
        var simLstDomId = 'pageId:formId:hiddenSimLst';
        var hiddenSimLst;
        function hiddenSimLst(){
            if(document.getElementById(simLstDomId)){
               hiddenSimLst =  document.getElementById(simLstDomId).value;
            }
        }
        
        /*var app = angular.module('myApp', []);
        app.controller('simLst', function($scope) { 
            $scope.items = {!simLst};
            $scope.filterSims = {!simLst};
            $scope.removeSimJs = function (stockRecId) {
                removeSim(stockRecId);
            };
            $scope.assignValue = function () {
                assignicicdFilter();
            };
        });
        
        var app = angular.module('MyApp', [])*/
        var icciIDJS;
    
        function prepareAngularController(){
            
            hiddenSimLst();
            
            /*app.controller('simLst', function($scope) {
                $scope.items = $window.hiddenSimLst;
                $scope.filterSims = $window.hiddenSimLst;
            });
            */
            prepareAngularControllerAF();
        }
        
        
        function assignicicdFilter(){
            if(document.getElementById('filName') && document.getElementById('pageId:formId:pageBlck:hiddenicicdFilter')){
               document.getElementById('pageId:formId:pageBlck:hiddenicicdFilter').value = document.getElementById('filName').value;
            }
        }
        
        function replaceTheFilter(){
            if(document.getElementById != null && icciIDJS != null){
               document.getElementById('filName').value = icciIDJS;
            }
        }
        
        function filterRecordsByICCIDOrMSISDNJS(){
            filterRecordsByICCIDOrMSISDN();
        }
        
    </script>
    
    <apex:form id="formId">
            <apex:inputHidden value="{!simLst}" id="hiddenSimLst"/>
            <apex:actionFunction name="prepareAngularControllerAF" />
            <apex:actionFunction name="filterRecordsByICCIDOrMSISDN" status="actStatusId" action="{!filterRecordsByICCIDOrMSISDN}" rerender="top_buttons,main_table,bottom_buttons,pbSecId,noSIMMsg"/>

            
            <apex:actionstatus id="actStatusId">
                <apex:facet name="start">
                    <div class="waitingSearchDiv" id="el_loading" style="background-color: #DCD6D6;
                           height: 100%;opacity:0.65;width:100%;"> 
                        <div class="waitingHolder" style="position: absolute;
                                                            top: 150px;
                                                            left: 25%;
                                                            margin-top: -50px;
                                                            margin-left: -50px;">
                            <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                            <span class="waitingDescription">Please Wait...</span>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionstatus>
            <apex:outputPanel id="mainContent">
                    <body>
                    <div ng-app="myApp" ng-controller="simLst" id="myApp">              
                    <div>
                    
                    <apex:pageMessages id="pgmsgs" /> <br/> 
                    <apex:pageMessage summary="{!errorMsgs}" severity="Error" strength="3" rendered="{!if(AND(errorMsgs != '' , errorMsgs != null),true, false)}"/> 
                    <apex:pageBlock rendered="{!displayMainContent}" Title="Selected SIM Cards" id="pageBlck">
                        <apex:pageBlockButtons location="top" id="pButtons">
                            <apex:commandButton value="Add All SIMS" action="{!addAllSims}" status="actStatusId" rerender="top_buttons,main_table,bottom_buttons,pbSecId"/>
                            <apex:commandButton value="Clear All SIMs" action="{!clearSelectedSims}" status="actStatusId" rerender="top_buttons,main_table,bottom_buttons,pbSecId"/>
                            <apex:commandButton value="Upload Specific SIMS" action="{!swapRendering}" status="actStatusId" id="uploadSpecificSims"/>
                            <apex:commandButton value="Export to Excel" action="{!exportToExcel}"/>
                            <apex:commandButton value="Export to PDF" action="{!exportToPDF}" status="actStatusId"/>
                            <apex:commandButton value="Termination Of Listed SIMs" onClick="if(!confirm('Are you sure that you want to terminate sims?'))return false;" action="{!terminateSims}" status="actStatusId"  rerender="top_buttons,main_table,bottom_buttons,pbSecId,pageBlck"/>
                            <!--<input type="button" class="btn" value="Termination of Listed SIMs" onClick="startTerminationJS()"/>-->
                            <apex:commandButton value="Termination Confirm Letter" action="{!downloadTerminationConfirmLetter}" id="downloadLetter" rendered="{!isLetterDownloadable}"/>
                            <apex:commandButton value="Stop Termination" action="{!stopTermination}" rerender="top_buttons,main_table,bottom_buttons,pbSecId,pageBlck" status="actStatusId" />
                            <apex:commandButton value="Back To Ticket" action="/{!c.id}"/>
                        </apex:pageBlockButtons>
                    
                        <apex:pageBlockSection >
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel >Date Of Receipt:</apex:outputLabel>  
                                <apex:inputField value="{!c.Sixt_Termination_date__c}"/>
                            </apex:pageBlockSectionItem>
                             
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel >Uploaded Text file :</apex:outputLabel>  
                                <apex:outputText value="{!uploadedFileName}"/> 
                            </apex:pageBlockSectionItem>
                        </apex:pageBlockSection> 
                        <apex:inputhidden value="{!icicdFilter}" id="hiddenicicdFilter"/>
                        <apex:pageBlockSection id="pbSecId">
                            
                            <apex:pageBlockSectionItem rendered="{!IF(showSrchData || AllSims.size > 0,true,false)}">
                                <apex:outputLabel >Total No of SIMS : </apex:outputLabel>  
                                <apex:outputText value="{!NoOfSIMs}"/>
                                <!--<apex:outputPanel >{{items.length}}</apex:outputPanel>-->
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel ></apex:outputLabel>  
                                <apex:outputPanel ></apex:outputPanel>
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem rendered="{!IF(showSrchData || AllSims.size > 0,true,false)}">
                                <apex:outputLabel >Filter SIMS By ICCID/MSISDN:</apex:outputLabel>  
                                <!--<input type="text"  id="filName" placeholder="Search SIMS..." ng-model="filName" ng-keyup="assignValue()" ngBlur="assignValue()"/> -->
                                <apex:inputText value="{!icicdFilter}"  onBlur="filterRecordsByICCIDOrMSISDNJS()" />
                                
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem id="pbSecItemId" rendered="{!IF(showSrchData || AllSims.size > 0,true,false)}">
                                <apex:outputLabel >Search by FC</apex:outputLabel>  
                                <apex:outputpanel >
                                    <apex:selectList value="{!searchFC}" id="searchFCId" multiselect="false" size="1">
                                        <apex:selectOptions value="{!AvailableFCs}"/>
                                    </apex:selectList>
                                    <!--<apex:inputText value="{!searchFC}" id="searchFCId">
                                        <apex:actionSupport event="onBlur" action="{!performSearchbyFC}" rerender="mainContent,pbSecId,searchFCId,AllSims" status="actStatusId"/>
                                    </apex:inputText>-->
                                    &nbsp;&nbsp;
                                    <apex:commandButton value="Search" action="{!performSearchbyFC}" rerender="hiddenSimLst" status="actStatusId"/>
                                </apex:outputpanel>
                            </apex:pageBlockSectionItem>
                            
                            
                        </apex:pageBlockSection>
                        
                        <apex:pageMessage id="noSIMMsg" summary="No matched SIMs" severity="Info" strength="3" rendered="{!IF(showSrchData && AllSims.size <= 0,true,false)}"/> 
                        <br/><br/>
                        <apex:outputPanel id="top_buttons">
                            <div style="margin-left: 40%;">
                                <apex:panelGrid id="top_btn_grid" columns="5" rendered="{!IF(AllSims.size > 0,true,false)}">
                                    <apex:commandButton action="{!first}" value="First" disabled="{!IF(pageNumber = 1,true,false)}" rerender="top_buttons,main_table,bottom_buttons,pbSecId" status="actStatusId" />
                                    <apex:commandButton action="{!previous}" value="Previous" disabled="{!!hasPrevious}" rerender="top_buttons,main_table,bottom_buttons,pbSecId" status="actStatusId"/>
                                    <apex:outputLabel value="{!PageNumber} of {!TotalPages}"/>
                                    <apex:commandButton action="{!next}" value="Next" disabled="{!NOT(hasNext)}" rerender="top_buttons,main_table,bottom_buttons,pbSecId" status="actStatusId"/>
                                    <apex:commandButton action="{!last}" value="Last" disabled="{!IF(pageNumber = totalPages,true,false)}" rerender="top_buttons,main_table,bottom_buttons,pbSecId" status="actStatusId"/>
                                </apex:panelGrid>
                            </div>
                        </apex:outputPanel>
                        <apex:outputPanel id="main_table">
                            <apex:pageBlockTable value="{!AllSims}" var="stock"  id="AllSims">
        						<apex:column headerValue="{!$ObjectType.Stock__c.fields.ICCID__c.label}">
        							<apex:outputLink value="/{!stock.Id}" target="_blank">{!stock.ICCID__c}</apex:outputLink>
        						</apex:column>
        						<apex:column headerValue="{!$ObjectType.Stock__c.fields.MSISDN__c.label}" value="{!stock.MSISDN__c}"/>
        						<apex:column headerValue="{!$ObjectType.Stock__c.fields.IMSI__c.label}" value="{!stock.IMSI__c}"/>
        						<apex:column headerValue="{!$ObjectType.Stock__c.fields.Activation_Date__c.label}" value="{!stock.Activation_Date__c}"/>
        						<apex:column headerValue="{!$ObjectType.Stock__c.fields.Runtime__c.label}" value="{!stock.Runtime__c}"/>
        						<apex:column headerValue="{!$ObjectType.Stock__c.fields.End_date__c.label}" value="{!stock.End_date__c}"/>
        						<apex:column headerValue="{!$ObjectType.Stock__c.fields.Termination_Status__c.label}" value="{!stock.Termination_Status__c}"/>
        						<apex:column headerValue="Frame Contract" value="{!stock.BIC_Framework_Contract_No__c}"/>-->
        						<apex:column headerValue="Remove SIM">
        						    <apex:commandButton value="Remove" action="{!removeSim}" status="actStatusId" rerender="pbSecId, main_table, top_btn_grid, noSIMMsg">
        						        <apex:param name="stockId" value="{!stock.Id}" assignTo="{!removeSim}"/>
        						    </apex:commandButton>
        						</apex:column> 
        					</apex:pageBlockTable>   
                        </apex:outputPanel>
                        <apex:outputPanel id="bottom_buttons">
                            <div style="margin-left: 40%;">
                                <apex:panelGrid id="bottom_btn_grid" columns="5" rendered="{!IF(AllSims.size > 0,true,false)}">
                                    <apex:commandButton action="{!first}" value="First" disabled="{!IF(pageNumber = 1,true,false)}" rerender="top_buttons,main_table,bottom_buttons,pbSecId" status="actStatusId"/>
                                    <apex:commandButton action="{!previous}" value="Previous" disabled="{!!hasPrevious}" rerender="top_buttons,main_table,bottom_buttons,pbSecId" status="actStatusId"/>
                                    <apex:outputLabel value="{!PageNumber} of {!TotalPages}"/>
                                    <apex:commandButton action="{!next}" value="Next" disabled="{!NOT(hasNext)}" rerender="top_buttons,main_table,bottom_buttons,pbSecId" status="actStatusId"/>
                                    <apex:commandButton action="{!last}" value="Last" disabled="{!IF(pageNumber = totalPages,true,false)}" rerender="top_buttons,main_table,bottom_buttons,pbSecId" status="actStatusId"/>
                                </apex:panelGrid>
                            </div>
                        </apex:outputPanel>
                </apex:pageBlock>
                </div>
                </div>
            </body> 
            <apex:outputPanel id="fileUpload" >
                <apex:pageBlock rendered="{!displayUploadArea}" Title="Select SIM Card">
                        
                    <apex:pageBlockButtons >
                        <apex:commandButton value="Back To Termination Window" action="{!backToTerminationWindow}" />
                    </apex:pageBlockButtons>
                        <apex:pageBlockSection title="Select File" columns="1">
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Select file" for="file"/>
                                <apex:inputFile value="{!fileBody}" filename="{!fileName}" id="file"/>
                            </apex:pageBlockSectionItem>  
                            <apex:pageBlockSectionItem >
                                <apex:outputPanel >Only Current Customer's SIMS associated with Ticket are displayed.</apex:outputPanel>
                                <apex:commandButton value="Upload" action="{!uploadSims}" status="actStatusId"/>
                            </apex:pageBlockSectionItem>
                        </apex:pageBlockSection>
                    <apex:actionRegion >
                        <apex:outputPanel id="uploadedSimsPanel">
                        <apex:pageBlockSection Title="Filter By ICCID"  id="uploadPbBlck">
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel >Available SIMs will be filtered after entering atleast 4 digits</apex:outputLabel>  
                                <apex:outputPanel >
                                    <apex:inputText value="{!searchKey}">
                                        <apex:actionSupport event="onBlur" action="{!performSearch}" rerender="uploadedSimsPanel" status="actStatusId"/>                      
                                    </apex:inputText>   
                                    <apex:commandButton value="Search" action="{!performSearch}" rerender="uploadedSimsPanel" status="actStatusId"/>
                                </apex:outputPanel>
                            </apex:pageBlockSectionItem>  
                        </apex:pageBlockSection>
                        
                        
                            <apex:pageMessage summary="SIM added to the temination list" severity="Info" strength="3" rendered="{!IF(AND(showSIMAddedMsg, NOT(uploaded)),true, false)}"/>
                            <apex:pageMessage summary="All SIMs added to the temination list" severity="Info" strength="3" rendered="{!IF(AND(showAllSIMsAddedMsg, NOT(uploaded)),true, false)}"/>
                            <apex:pageMessage summary="All SIMs in this file are already added to the termination list (OR) Matched SIMS not available in uploaded file" severity="Info" strength="3" rendered="{!if(AND(fileData.size == 0,uploaded),true, false)}"/> 
                            <apex:pageBlockSection columns="1" id="pbSecId2" title="List of available SIM Cards" rendered="{!IF(fileData.size > 0,true,false)}">
                                <apex:commandLink action="{!addAllToSimList}" rerender="uploadedSimsPanel" status="actStatusId">Add All</apex:commandLink>
                                <apex:pageBlockTable value="{!fileData}" var="stock">
                                    <apex:column headerValue="Action">
                                        <apex:commandLink value="Add" action="{!addSelectedSIM}" rerender="uploadedSimsPanel" status="actStatusId">
                                            <apex:param name="stockId" value="{!stock.Id}" assignTo="{!stockId}"/>
                                        </apex:commandLink>
                                    </apex:column>
                                    <apex:column headerValue="{!$ObjectType.Stock__c.fields.ICCID__c.label}" value="{!stock.ICCID__c}"/>
                                    <apex:column headerValue="{!$ObjectType.Stock__c.fields.MSISDN__c.label}" value="{!stock.MSISDN__c}"/>
                                </apex:pageBlockTable>
                                
                                <apex:panelGrid columns="5">
                                    <apex:commandButton action="{!pfirst}" value="First" disabled="{!IF(PPageNumber = 1,true,false)}" rerender="pbSecId2"/>
                                    <apex:commandButton action="{!pprevious}" value="Previous" disabled="{!!hasPPrevious}" rerender="pbSecId2"/>
                                    <apex:outputLabel value="{!PPageNumber} of {!PTotalPages}"/>
                                    <apex:commandButton action="{!pnext}" value="Next" disabled="{!NOT(hasPNext)}" rerender="pbSecId2"/>
                                    <apex:commandButton action="{!plast}" value="Last" disabled="{!IF(PPageNumber = PTotalPages,true,false)}" rerender="pbSecId2"/>
                                </apex:panelGrid>
                            </apex:pageBlockSection>
                        </apex:outputPanel>     
                    </apex:actionRegion>        
                </apex:pageBlock>
            </apex:outputPanel>
        </apex:outputPanel>
        
       
    </apex:form>
    <script>
        function checkLengthAndSearch(){
            var searchStr = document.getElementById("{!$Component.pageId.formId.pageBlck.pbSecId.pbSecItemId.searchFCId}").value;
            if(searchStr.length > 3){
                performFCSearch();
            }
        }
        window.onload = new function(){
            if(document.getElementById('filName')){
                document.getElementById('filName').focus;
            }
        }
    </script>
</apex:page>