<apex:page standardController="Case" extensions="TicketCommentsInlineController">
    <apex:form >
        <style>
            body {background-color:orange; padding-top: 15px}
            a.actionLink
            {
                color: #015BA7;
                text-decoration:none; 
            }
            
            #noRecords{
            padding-bottom: 4px;
            padding-left: 5px;
            padding-right: 2px;
            padding-top: 5px;
            text-align: left;
            }
            
            
            .relatedListIcon {
            background-image: url(/img/icon/custom51_100/pencil24.png);
            background-position: 0 0;
            width: 24px;
            height: 24px;
            display:block;
            float:left;
            }
            
            #wrap
            {
                float: left;
                position: relative;
                left: 50%;
            }
            #content {
                float: left;
                position: relative;
                left: -50%;
            }
            
            .mnTitle
            {
            display:block-inline;
            margin-left: 10px;
            font-weight:bold;
            font-size:110%;
            float:left;
            }
            
            .newButton
            {
            display:block-inline;
             margin-top:-2px;
             margin-bottom:6px;
             margin-right:400px
            }
            
            .helpButton
            {
            display:block-inline;
            margin-top:-3px;
            margin-bottom:6px;
            margin-left: 100px;
            float:right;
            }
            
            .pbBody
            {
            margin: 7px 0px !important;
            }
            
            .headerStyle
            {
            text-align: center;
            }
        </style>
        <apex:pageMessages />
        <apex:pageBlock >
            <apex:pageBlockButtons location="top">
                <apex:commandLink value="New" action="{!NewCaseComment}" id="theButton" target="_top" rerender="commentsPageBlock" styleClass="btn" style="text-decoration:none">
                </apex:commandLink>
                <apex:outputLink value="https://help.salesforce.com/htviewhelpdoc?id=case_comments.htm&siteLang=en_US" target="_blank" style="color:#015BA7;text-decoration:none;font-size:11px;float:right;">Ticket Comments Help</apex:outputLink>
            </apex:pageBlockButtons>
            <div id="wrap">
                <div id="content">
                	<div class="newButton">
                	</div>
                </div>
            </div>
            <div class="helpButton">
            </div>
            <div style="clear:both"></div>
            <apex:pageblockTable value="{!caseComments}" var="cComment" rendered="{!(caseComments.size != 0)}" id="pbTable">
                <apex:column headerValue="Action">
                    <apex:commandLink Value="Edit" action="{!EditCaseComment}" target="_top" styleClass="actionLink">
                    	<apex:param assignTo="{!caseCommentId}" name="CC_Id" value="{!cComment.id}"/>
         			</apex:commandLink>
        			&nbsp;|&nbsp;
                    
                    <apex:commandLink Value="Del" action="{!DeleteCaseComment}" styleClass="actionLink" onclick="if(!confirm('Are you sure?')) return false;">
                        <apex:param assignTo="{!caseCommentId}" name="CC_Id" value="{!cComment.id}"/>
                    </apex:commandLink>
                    &nbsp;|&nbsp;
         
                    <apex:commandLink Value="{!IF(cComment.isPublished, 'Make Private', 'Make Public')}" styleClass="actionLink" target="_top" action="{!ToggleCaseCommentPublicPrivate}" reRender="pbTable">
                        <apex:param assignTo="{!caseCommentId}" name="CC_Id" value="{!cComment.id}"/>
                    </apex:commandLink>      
                </apex:column>
                <apex:column headerValue="Public" headerClass="headerStyle" value="{!cComment.IsPublished}" style="text-align: center;"/>
    			<apex:column headerValue="Comment" value="{!cComment.commentbody}"/>
            </apex:pageblockTable>    
        </apex:pageBlock>
    </apex:form>
</apex:page>